//Colors

$Clr-primary-100: #ffffff;
$Clr-primary-200: #f8f9fe;
$Clr-primary-300back: #e0e8ff;
$Clr-primary-500: #727d93;
$Clr-primary-accent: #382ae1;
$Clr-primary-accent-light: #766cf1;

//Font Family

$Ff-primary: 'Red Hat Display', sans-serif;

//Font weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
